# Ignore temporary and test files
draft*
wiki
temp
data
*.p12

# Ignore the application data
data
!test/data

# Ignore old folders
old_versions
old_question_database

# Ignore coverage files
.coverage
coverage.xml

# Ignore Python cache files
__pycache__

# Ignore compilation folders
build
dist

# Ignore virtual environnements
venv
mcqmaker_venv

# Ignore vs code config folder
.vscode

# Ignore unused extensions to avoid unwanted sync
*.zip
*.html

# Ignore release folders
MCQMaker_Windows
MCQMaker_Linux
MCQMaker_MacOS

# Ignore certificates
*.pfx